header {
  display: flex;
  height: 45px;
}
header .search {
  flex: 10;
  /* background-color:pink; */
  position: relative;
}
header input {
  width: 100%;
  height: 26px;
  border-radius: 4px;
  margin: 8px 3px;
  border: 1px solid #bebebe;
  text-indent: 25px;
}
header .search::before {
  content: '';
  width: 14px;
  height: 14px;
  background: url('../images/sprite.png') -59px -279px / 104px;
  position: absolute;
  top: 15px;
  left: 10px;
}
header .user {
  flex: 1;
  position: relative;
  line-height: 70px;
  padding-left: 10px;
  color: blue;
}
header .user::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url('../images/sprite.png') -59px -193px / 104px;
  position: absolute;
  left: 13px;
}
.focus a {
  display: flex;
}
.focus img {
  width: 100%;
}
.local_nav ul {
  display: flex;
  flex-wrap: wrap;
}
.local_nav ul li {
  width: 20%;
  float: left;
}
.local_nav ul li a {
  font-size: 1.86666667vw;
  display: block;
  height: 13.33333333vw;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.local_nav .icon {
  width: 6vw;
  height: 6vw;
  /* background-color: red; */
  background: url(../images/localnav_bg.png) 0 0 / 100% no-repeat;
}
.main_nav {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 3px;
}
.main_nav .row {
  flex: 1;
  display: flex;
  height: 88opx;
}
/* 2、3列左边框 */
.main_nav .row .col:nth-child(n+2) {
  border-left: 1px solid #f2f2f2;
}
/* 2、3类的第一个a下边框 */
.main_nav .row .col:first-child a {
  border-bottom: 1px solid #f2f2f2;
}
.main_nav .row:nth-child(n+2) {
  margin-top: 3px;
}
.main_nav .row:nth-child(1) {
  background-image: linear-gradient(to right, #fa6b64, #fa984d);
}
.main_nav .row:nth-child(2) {
  background-image: linear-gradient(to right, #4b91ed, #53baed);
}
.main_nav .row:nth-child(3) {
  background-image: linear-gradient(to right, #37c3a5, #6ad459);
}
.main_nav .row .col {
  flex: 1;
}
/* 第一个小盒子 */
.main_nav .row .col:first-child {
  /* display: block; */
  background: url(../images/hotel.png) center bottom / 75% no-repeat;
}
/* 后面两小盒子 */
.main_nav .row .col:nth-child(n+1) {
  display: flex;
  flex-direction: column;
}
.main_nav .row .col a {
  flex: 1;
  color: #ffffff;
  line-height: 44px;
  text-align: center;
}
footer .hot {
  height: 46px;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
footer .hot h4 {
  height: 16px;
  float: left;
  width: 73px;
  margin-top: 15px;
  margin-left: 8px;
  background: url('../images/hot.png') center / 100% no-repeat;
}
footer .hot a {
  float: right;
  height: 20px;
  width: 110px;
  color: white;
  background-color: #ff5474;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  margin-right: 8px;
}
footer .city {
  height: 24.8vw;
  display: flex;
}
footer .city a:first-child {
  flex: 1;
  border-right: 1px solid #cccccc;
  height: 24.8vw;
  display: block;
  width: 100%;
  background: url(../upload/pic1.jpg) center / 100% 100% no-repeat;
}
footer .city a:nth-child(2) {
  flex: 1;
  height: 24.8vw;
  width: 100%;
  display: block;
  background: url(../upload/pic2.jpg) center / 100% 100% no-repeat;
}
footer .live {
  height: 30.93333333vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
footer .live a {
  height: 15.33333333vw;
  border-top: 1px solid #cccccc;
  flex: 50%;
  background: url('../upload/pic3.jpg') center / 100% no-repeat;
}
footer .live a:nth-child(odd) {
  border-right: 1px solid #cccccc;
}
